# ID de ton GitHub App (obligatoire)
APP_ID=123456

# Clé privée de ton GitHub App
# ⚠️ Ne jamais mettre de guillemets autour d'une clé privée
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
MIIBVgIBADANBgkqhkiG9w0BAQEFAASC...
-----END PRIVATE KEY-----

# Secret utilisé pour vérifier les webhooks GitHub
WEBHOOK_SECRET=monsecret

# (Optionnel) Token GitHub si tu veux faire des appels API directs
GITHUB_TOKEN=write

# (Optionnel) Port du serveur si ton bot tourne en local
PORT=3000
